@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: auto;
    padding-left: 10px;
}

div>span{
    font-family: 'nunito', sans-serif;
    display: inline;
    padding-left: 10px;
    
}

.nm{
    
    padding-right: 10px;
    float: right;
}

div{
    background-color: rgb(178, 227, 224);
    height: 38px;
    width: 50%;
    border-radius: 8px;
}

h1{
    margin: ;
    text-align: ;
    font-family: 'nunito';
    font-weight: 900;
}

.row{
    padding-top: 10px;
    font-size: 1.3em;
    font-weight: 800;
}